@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white !important;
    background-color: #34353A;
}

/* ESTILOS DA FONTE */

.bold-montserrat {
    font-weight: bold;
}

.medium-montserrat {
    font-weight: medium;
}

.regular-montserrat {
    font-weight: lighter;
}

/* HEADER */

.navbar {
    position: relative;
    z-index: 1; /* Define a barra de navegação acima da imagem */
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px; /* Espaço de 10px entre a foto e o texto */
    text-align: left; /* Alinha o texto à esquerda */
}

.text-container p {
    margin: 0;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link:hover {
    color: rgb(104, 104, 104);
}

/* INDEX - HERO SECTION */

.hero-section {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.hero-section .img-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
}

.hero-section img {
    height: 50%;
    width: 80%;
    max-width: 100%;
    transform: scale(1.2);
    filter: contrast(120%);
}

.name {
    font-size: 124px;
    margin-bottom: 0;
}

.role {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
}

.social-icons a i {
    font-size: 24px;
}

.social-icons a:hover {
    background-color: #C0866C !important;
    border-color: #C0866C;
}
.social-icons a i:hover {
    background-color: #C0866C;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

/* ABOUT SECTION */

.about-section .btn-download {
    border: 2px solid #C0866C;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.about-section .btn-download:hover {
    background-color: #C0866C;
}

/* CURRÍCULO PROFISSIONAL - SOBRE MIM */

.square {
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    border-radius: 50%;
    margin-right: 20px;
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text p {
    margin: 0;
}


/* CURRÍCULO PROFISSIONAL - SOBRE MIM */

.square {
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    border-radius: 50%;
    margin-right: 20px;
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text p {
    margin: 0;
}

/* PRJETOS */

.tipoProjeto {
    padding: 50px;
}

.cardProjetos {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 20px;
}


/* RESPONSIVIDADE*/

@media (max-width: 426px) {
    .name {
        margin-top: 20%;
        font-size: 32px;
    }

    .role {
        font-size: 22px;
    }

    .text-container{
        text-align: center;
    }

    .hero-section img {
        width: 100%;
    }
}
